<section class="spirit-hero-top text-center px-3 py-4">

    <h2 class="spirit-hero-title spirit-text-red mb-6">
        Onboarding
    </h2>

  <img
    src="{{ url_for('static', filename='img/global/progress-bar-step-3.png') }}"
    alt="Step 3"
    class="spirit-keyhole mb-2"
    aria-hidden="true"
  />
<!-- potentially h3 heading for 'Practical Information' -->
</section>

<div class="mb-3">

    <label class="form-label">What is the capacity (number of possible visitors) of your location?*</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="5-20" id="capacity-5-20">
        <label class="form-check-label" for="capacity-5-20">
            5-20 people
        </label>
      </div>

        <div class="form-check">
      <input class="form-check-input" type="radio" value="20-50" id="capacity-20-50">
      <label class="form-check-label" for="capacity-20-50">
        20-50 people
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" value="50-100" id="capacity-50-100">
      <label class="form-check-label" for="capacity-50-100">
        50-100 people
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" value="100" id="capacity-100">
      <label class="form-check-label" for="capacity-100">
        100+ people
      </label>
    </div>

  </div>

<div class="mb-3">

    <label class="form-label">What are the accessibility provisions at your location?*<br>
        Please select all that apply.  
    </label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="step-free-access" id="step-free-access">
        <label class="form-check-label" for="step-free-access">
            Step-free access
        </label>
      </div>

        <div class="form-check">
      <input class="form-check-input" type="checkbox" value="accessible-toilets" id="accessible-toilets">
      <label class="form-check-label" for="accessible-toilets">
        Accessible toilets
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="clear-circulation-routes" id="clear-circulation-routes">
      <label class="form-check-label" for="clear-circulation-routes">
        Clear circulation routes
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="accessible-parking" id="accessible-parking">
      <label class="form-check-label" for="accessible-parking">
        Accessible parking
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="other-accessibility" id="other-accessibility">
      <label class="form-check-label" for="other-accessibility">
        Other (please specify):
      </label>
      <input type ="text" class="form-control mt-2" id="other-accessibility-specify">
    </div>

  </div>

    <div class="mb-3">
        <label for="venue-price" class="form-label">What is your location's hourly price rate for use?*</label>
        <input type="number" class="form-control" id="venue-price">
    </div>

<div class="text-start">

    <a
    href="#"
    class="btn spirit-btn-red rounded-3 px-4 py-2 btn-back"
    >
    ← Back
    </a>

</div>

<button type="submit" class="spirit-btn-red">Submit</button>

</form>
