<section class="container py-5 text-center">

  <div class="mx-auto col-12 col-xl-7">

    <h2 class="display-4 fw-bold spirit-text-red text-uppercase mb-5">
      About
      <br>
      The Spirit
    </h2>

    <p class="mx-auto fs-4 fw-light lh-sm">
      A festival, platform, and network that brings people together
      around art, meaning, and social themes
      <br>
      We develop programs that inspire calm, connection, and wonder
      in places originally built for that purpose: churches, mosques,
      synagogues, temples, and special heritage sites
      <br>
      “We bring together as many sources of inspiration as possible
      and encourage people to dare to dream of a more loving, more
      connected world. Change begins with touching, experiences
      that open the heart and create movement from there.”
    </p>

  </div>

</section>