<section id="locations-filter" class="py-5">

  <div class="container">

    <div
      class="rounded-5 p-0"
    >

      <div
        class="d-flex flex-column flex-xl-row align-items-xl-center gap-4"
      >

        <!-- SEARCH -->

        <div class="flex-grow-1">

          <div
            class="input-group bg-white border rounded-5 px-3 py-2 shadow-sm"
          >

            <span class="input-group-text bg-transparent border-0">
              <i class="bi bi-search text-danger"></i>
            </span>

            <input
              type="text"
              id="venue-search"
              class="form-control border-0 shadow-none bg-transparent"
              placeholder="Search venue name..."
            >

          </div>

        </div>

        <!-- VENUE TYPES -->

        <div
          class="d-flex align-items-center flex-wrap gap-2 pt-2"
        >

          <button
            class="btn rounded-pill px-4 active-filter-btn filter-trigger"
            data-category="All"
          >
            All
          </button>

          <button
            class="btn rounded-pill px-4 filter-btn filter-trigger"
            data-category="Church"
          >
            Churches
          </button>

          <button
            class="btn rounded-pill px-4 filter-btn filter-trigger"
            data-category="Mosque"
          >
            Mosques
          </button>

          <button
            class="btn rounded-pill px-4 filter-btn filter-trigger"
            data-category="Synagogue"
          >
            Synagogues
          </button>

          <button
            class="btn rounded-pill px-4 filter-btn filter-trigger"
            data-category="Temple"
          >
            Temples
          </button>

          <button
            class="btn rounded-pill px-4 filter-btn filter-trigger"
            data-category="Other"
          >
            Other
          </button>

        </div>

      </div>

    </div>

  </div>

</section>