<section id="venue-cta" class="py-5">

  <div class="container-fluid px-0">

    <div class="venue-cta-wrapper text-center py-5">

      <div class="container py-5">

        <h2 class="display-6 spirit-hero-subtitle mb-5">
          Are you a maker thinking of a collaboration?
        </h2>

        <a
          href="#"
          class="btn venue-cta-btn rounded-4 px-5 py-3 fs-5 border-0 spirit-hero-subtitle text-white"
        >
          Start Collaboration
        </a>

      </div>

    </div>

  </div>

</section>
