{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
{% endblock %}

{% block content %}
<main class="container py-5">

  <h1 class="form-title text-center mb-5">
    Hello, {{ display_name }}
  </h1>

  {% if role == "venue" %}

    {% include "sections/dashboard/venue-stats.html" %}
    {% include "sections/dashboard/venue-actions.html" %}

  {% elif role == "maker" %}

    {% include "sections/dashboard/maker-stats.html" %}
    {% include "sections/dashboard/maker-actions.html" %}

  {% endif %}

</main>
{% endblock %}