{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %}

{% block content %}

{% include "sections/home/hero.html" %}
{% include "sections/home/about.html" %}
{% include "sections/home/user-selector.html" %}
{% include "sections/home/makers.html" %}
{% include "sections/home/featured-venues.html" %}
{% include "sections/home/venues.html" %}
{% include "sections/home/featured-events.html" %}


{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}