{% extends "base.html" %}

{% block title %}
Proposal Form
{% endblock %}

{% block extra_css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/proposal-form.css') }}"
>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/forms.css') }}"
/>
{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('submit_proposal') }}">

    <div class="proposal-wrapper container pt-2">

        <h1 class="spirit-title-page spirit-red-text text-center display-4 mx-auto pb-4">
            Proposal Form
        </h1>

    </div>

    {% include "sections/proposal/section-1.html" %}
    {% include "sections/proposal/section-2.html" %}
    {% include "sections/proposal/section-3.html" %}

</form>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/proposal.js') }}?v=2"></script>
{% endblock %}