
  <a
    href="{{ url_for('venue', venue_id=venue.venue_id) }}"
    class="text-decoration-none d-block"
  >

    <div class="spirit-venue-card">

      <img
        src="{{ url_for('static', filename=venue.cover_image) }}"
        alt="{{ venue.name }}"
        class="img-fluid w-100 spirit-venue-image mb-3"
      />

      <h3 class="fs-3 fw-normal spirit-text-red lh-1 mb-2 spirit-hero-subtitle">
        {{ venue.name }}
      </h3>

      <span class="badge rounded-pill text-bg-light fw-normal px-3 py-2">
        {{ venue.venue_type }}
      </span>

    </div>

  </a>

