{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<section class="container py-5">

  <div class="row justify-content-center">

    <div class="col-12 col-md-10 col-lg-8 col-xl-7">

      <h1 class="display-4 spirit-text-red spirit-hero-subtitle mb-5">
        Register
      </h1>

      <form method="POST">

        <!-- EMAIL -->

        <div class="mb-4">

          <label
            for="email"
            class="form-label fw-semibold"
          >
            Email
          </label>

          <input
            type="email"
            id="email"
            name="email"
            class="form-control border-0 rounded-4 py-3 px-4"
          >

        </div>

        <!-- PASSWORD -->

        <div class="mb-5">

          <label
            for="password"
            class="form-label fw-semibold"
          >
            Password
          </label>

          <input
            type="password"
            id="password"
            name="password"
            class="form-control border-0 rounded-4 py-3 px-4"
          >

        </div>

        <!-- BUTTON -->

        <button
          type="submit"
          class="btn btn-dark rounded-4 px-4 py-3 mb-5"
        >
          Register
        </button>

      </form>

      <!-- LOGIN -->

      <p class="mb-0 text-secondary fs-6 fw-light">

        Already have an account?

        <a
          href="{{ url_for('login') }}"
          class="text-decoration-none spirit-text-red fw-light"
        >
          Click here to log in
        </a>

      </p>

    </div>

  </div>

</section>

{% endblock %}
