<section id="section-2" class="proposal-wrapper container py-5 form-section hidden">

    <div class="proposal-card">

        <h2 class="section-title">Fit & Collaboration</h2>

        <form>
            
    

            <!-- TITLE -->
            <div class="mb-4">
                <label class="proposal-label">
                    What makes this space the right place for your idea?*
                </label>

                <input
                    type="text"
                    class="proposal-input"
                    maxlength="20"
                >
            </div>

            <div class="mb-4">
                <label class="proposal-label-1">
                    collaboration style (can select multiple)*
                </label>
            </div>
            <div class="mb-2">
  <label class="proposal-label">Collaboration style (can select multiple)*</label>
</div>

<label class="checkbox-item">
  <input type="checkbox" name="collab">
  Just use the space
</label>

<label class="checkbox-item">
  <input type="checkbox" name="collab">
    Co-create with the venue
</label>

<label class="checkbox-item">
  <input type="checkbox" name="collab">
    Involve the community
</label>

        
<a href="javascript:void(0)" class="next-btn text-decoration-none" onclick="showSection(3)">
  Next
</a>
    </div>

</section>