<section id="section-2" class="proposal-wrapper container py-5 form-section hidden">

        <h1 class="proposal-title text-center mb-5">
        Proposal Form
    </h1>
    <div class="proposal-card">


    

       <div class="proposal-card">


        <h2 class="section-title">Fit & Collaboration</h2>
        <div class="mb-4">
                <label class="proposal-label">
                    What makes this space the right place for you*
                </label>

                <input
                    type="text"
                    class="proposal-input"
                    maxlength="20"
                >
            </div>

            
            <div class="mb-2">
  <label class="proposal-label">Collaboration style (can select multiple)*</label>
</div>

<label class="checkbox-item">
  <input type="checkbox" name="collab">
  Just use the space
</label>

<label class="checkbox-item">
  <input type="checkbox" name="collab">
    Co-create with the venue
</label>

<label class="checkbox-item">
  <input type="checkbox" name="collab">
    Involve the community
</label>

    <div class="mb-4">
                <label class="proposal-label">
                    Would you like to add any additional details?*
                </label>

                <input
                    type="text"
                    class="proposal-input"
                    maxlength="20"
                >
            </div>
        
<a href="javascript:void(0)" class="next-btn text-decoration-none" onclick="showSection(3)">
  Next
</a>
    </div>

</section>