<section id="section-1" class="proposal-wrapper container py-5 form-section">

    <h1 class="proposal-title text-center mb-5">
        Proposal Form
    </h1>

    <div class="proposal-card">

        <h2 class="section-title">Your Idea</h2>

        <form>

            <!-- TITLE -->
            <div class="mb-4">
                <label class="proposal-label">
                    Title*
                </label>

                <input
                    type="text"
                    class="proposal-input"
                    maxlength="20"
                >
            </div>

            <!-- DESCRIPTION -->
            <div class="mb-4">
                <label class="proposal-label">
                    Describe the core of what you want to create*
                </label>

                <textarea
                    class="proposal-textarea"
                    maxlength="100"
                ></textarea>
            </div>

            <!-- TAGS -->
            <div class="mb-5">
                <label class="proposal-label">
                    What kind of format is it? (Select all that apply)*
                </label>

                <div class="tag-container">

                    <button type="button" class="tag active">
                        Music
                    </button>

                    <button type="button" class="tag active">
                        Mindfulness
                    </button>

                    <button type="button" class="tag active">
                        Ceremony
                    </button>

                    <button type="button" class="tag active">
                        Silence
                    </button>

                    <button type="button" class="tag active">
                        Storytelling
                    </button>

                    <button type="button" class="tag active">
                        Dance
                    </button>

                    <button type="button" class="tag">
                        Philosophy
                    </button>

                    <button type="button" class="tag">
                        Visual Arts
                    </button>

                    <button type="button" class="tag">
                        Theatre
                    </button>

                    <button type="button" class="tag active">
                        Concert
                    </button>

                    <button type="button" class="tag">
                        Other
                    </button>

                </div>
            </div>

            <!-- BUTTON -->
<a href="javascript:void(0)" class="next-btn text-decoration-none" onclick="showSection(2)">
  Next
</a>



        </form>

    </div>

</section>