<p class="subheader mb-4">Workspace</p>

<div class="d-flex flex-wrap gap-4">

  <a href="{{ url_for('inbox') }}" class="manage-card text-decoration-none text-center">
    <i class="bi bi-envelope manage-card-icon"></i>
    <p class="spirit-text-red fw-semibold mt-3 mb-0">
      Inbox
    </p>
  </a>

  <a href="#" class="manage-card text-decoration-none text-center">
    <i class="bi bi-person manage-card-icon"></i>
    <p class="spirit-text-red fw-semibold mt-3 mb-0">
      My Profile
    </p>
  </a>

  <a href="{{ url_for('locations') }}" class="manage-card text-decoration-none text-center">
    <i class="bi bi-house-door manage-card-icon"></i>
    <p class="spirit-text-red fw-semibold mt-3 mb-0">
      Locations
    </p>
  </a>

</div>