

<div class="row gx-0 stats-bar mb-5">

  <div class="col-12 col-md-4 text-center stat">
    <p class="stat-number">4</p>
    <p class="fw-semibold">Submitted Proposals</p>
    <p class="small text-muted">
      Requests sent to venues
    </p>
  </div>

  <div class="col-12 col-md-4 text-center stat stat-middle">
    <p class="stat-number">2</p>
    <p class="fw-semibold">Awaiting Response</p>
    <p class="small text-muted">
      Waiting for venue feedback
    </p>
  </div>

  <div class="col-12 col-md-4 text-center stat">
    <p class="stat-number">1</p>
    <p class="fw-semibold">Confirmed Collaborations</p>
    <p class="small text-muted">
      Accepted collaborations in progress
    </p>
  </div>

</div>