<section class="form-section">
  <h2 class="subheader">Your Program</h2>

<!-- Type of maker -->
<div class="form-group">
<label class="form-label">What type of maker are you? (Select a maximum of 3)*</label>
  <div class="pill-options">
    <label class="pill-option"><input type="checkbox" name="genre" value="music" /><span class="pill">Music</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="exhibition" /><span class="pill">Exhibition</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="mindfulness" /><span class="pill">Mindfulness</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="reading" /><span class="pill">Reading</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="theatre" /><span class="pill">Theatre</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="workshop" /><span class="pill">Workshop</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="philosophy" /><span class="pill">Philosophy</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="dance" /><span class="pill">Dance</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="rituals" /><span class="pill">Rituals</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="film" /><span class="pill">Film</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="visual-art" /><span class="pill">Visual Art</span></label>
    
    <label class="pill-option"><input type="checkbox" name="genre" value="other" /><span class="pill">Other</span></label>
</div>
</div>

<!-- Themes -->
  <label for="theme" class="form-label">What type of themes are present within your work?*</label>
  <input type="text" id="maker-theme" name="maker_theme" class="textbox" required>

<!-- Previous performances -->
  <label for="theme" class="form-label">Previous performances</label>
  <input type="text" id="previous-performances" name="previous_performances" class="textbox">

<!-- Previous performances -->
  <label for="theme" class="form-label">Photos or logos</label>
  <input type="text" id="photos-logos" name="photos_logos" class="textbox">

<!-- Navigation buttons -->
<div class="form-nav">
  <button class="form-btn">Back</button>
  <button class="form-btn">Submit</button>
</div>

</section>